a{
    text-decoration: none;
    color:black;
}
.firs_obj {
    position: absolute;
    top:5%;
    left:2%;
    width: 25px;
    height: 25px;
    background: red;
}

button {
    position: absolute;
    margin-top: 12.5%;
}

.arena {
    position: absolute;
    border: 1px solid black;
    width: 98%;
    height:  50%;
    top: 7%;
    
}

.control_panel{
    position: absolute;
    width:35%;
    height:25%;
    left:30%;
    bottom:10%;
}

.to_right{
    right:15%;
    bottom:50%;
}

.to_left{
    left:15%;
    bottom:50%;
}

.to_down{
    left:30%;
    bottom:25%;
    width:40%
}
.to_up{
    left:30%;
    top:-15%;
    width:40%
}

.ball {
    position: absolute;
    left:4%;
    top:7%;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color:darkslateblue;
}
.nn{
    position:absolute;
    left: 10%;
    top:-25%;
}

.timer{
    position: absolute;
    text-align: right;
    right:2%;
    top: 2%;
}

.game_over{
    display: none; 
    position: absolute; 
    background-color: black; 
    width: 100%; 
    height: 100%; 
    left: 0%;
    top: 0%;
}

.GO{
    position: absolute;
    top: 35%;
    left:35%;
    width: 30%;
    height: 30%;
    background-color:darkorchid;
    border:1px solid black;
}
.gameOver_text{
    color: bisque;
    text-align: center;
}
.play{
    position: absolute;
    width: 30%;
    height: 25%;
    left: 35%;
    bottom:5%;
    border:1px solid blueviolet;
}

.game_win{
    display: none; 
    position: absolute; 
    background-color: black; 
    width: 100%; 
    height: 100%; 
    left: 0%;
    top: 0%;
}